@model IEnumerable<Uretim_Kalite.Models.Entity.EGEM_GRAVUR_KALITE_SIPARIS>
@{

    ViewBag.Title = "Ofsetbitirmeekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
&nbsp;
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Ofset Bitirme Kalite NOK Girişi</strong>
</div>
&nbsp;
<form class="form-group" method="post">
    <div class="form-group row">
        &nbsp;&nbsp;
        <div>
            <label for="ltxt1">SIPARIS NO</label>
            <input class="form-control input-sm" id="txt1" type="text" autocomplete="off" name="SIPARISNO" value="" size="20">
            <p></p>
            <input type="button" id="Sipbul" class="btn btn-danger" value="Sipariş Bul" />

        </div>
        &nbsp;&nbsp;
        <div>
            <label for="txt2">URUN KODU</label>
            <input class="form-control input-sm" id="skod_txt" type="text" readonly="readonly" name ="STOK_KODU" value="" size="20">
        </div>
        &nbsp;&nbsp;
        <div>
            <label for="txt3">URUN ADI</label>
            <input class="form-control input-sm" id="sad_txt" type="text" readonly="readonly" name="STOK_ADI" value="" size="80">
        </div>
    </div>

    <div class="form-group row">
        &nbsp;&nbsp;
        <div>
            <label for="drp1">MAKINE ADI</label>
            <fieldset>
                <select id="drp1" name="CALISILAN_MKN" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected="selected" value="1">Makine Adı Seçiniz</option>
                    <option>106LER</option>
                    <option>BOBST_102E</option>
                    <option>106PER (EXPERCUT)</option>
                    <option>EXPERTFOIL</option>
                    <option>FOILMASTER</option>
                </select>
            </fieldset>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <label for="drp1">KALITE ONAY</label>
            <br />
            @Html.DropDownList("KONTROL_EDEN", "Onay Veren Personel Seçiniz...")

        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <label for="ltxt4">PALET NO</label>
            <input class="form-control input-sm" id="txt4" type="text" autocomplete="off" name="PALET_NO" size="10" />
        </div>
    </div>
    <table class="table table-striped table-bordered dt-responsive nowrap" width="100" cellspacing="0">
        <tr style="background-color:lemonchiffon">
            <th>Ürün Adı / Kodu Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="URUN_ADI_KNT" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="URUN_ADI_KNT" value="1" id="Nokgir1" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Hammadde Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="HAMMADDE_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="HAMMADDE_KONTROL" value="2" id="Nokgir2" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Su Yolu</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="SU_YOLU" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="SU_YOLU" value="3" id="Nokgir3" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Tüm Pozisyonların Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="TUM_PZS_KONT" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="TUM_PZS_KONT" value="4" id="Nokgir4" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Artwork'e Uygunluk</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="ARTWORK_UYGUNLUK" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="ARTWORK_UYGUNLUK" value="5" id="Nokgir5" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Bıçak Film Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="BICAK_FILM_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="BICAK_FILM_KONTROL" value="6" id="Nokgir6" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Görsel Kontrol</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="GORSEL_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="GORSEL_KONTROL" value="7" id="Nokgir7" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Kesim Patlatma</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="KASIM_PATLATMA" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="KASIM_PATLATMA" value="8" id="Nokgir8" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Pilyaj / Perforaj Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="PILYAJ_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="PILYAJ_KONTROL" value="9" id="Nokgir9" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Palet Genel Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="PALET_GENEL_KONT" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="PALET_GENEL_KONT" value="10" id="Nokgir10" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Emboss-Deboss Register</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="EMBOSS_DEBOSS_REGISTER" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="EMBOSS_DEBOSS_REGISTER" value="11" id="Nokgir11" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Emboss-Deboss Görsel Kontrol</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="EMBOSS_DEBOSS_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="EMBOSS_DEBOSS_KONTROL" value="12" id="Nokgir12" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Nik Yerleri Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="NIK_YERLERI_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="NIK_YERLERI_KONTROL" value="13" id="Nokgir13" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Barkod Kontrolü</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="BARKOD_KONTROL" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="BARKOD_KONTROL" value="14" id="Nokgir14" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Kırım Direnci</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <input class="form-control input-sm" type="text" id="Gtxt15" autocomplete="off" name="KIRIM_DIRENCI" value="">
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn btn-danger" name="KIRIM_DIRENCI2" id="Nokgir15" value="15" data-toggle="modal" data-target="#exampleModal">NOTOK</button>

                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Bundle Yüksekliği</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <input class="form-control input-sm" type="text" id="Gtxt16" autocomplete="off" name="BUNDLE_YUKSEK" value="">
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn btn-danger" name="BUNDLE_YUKSEK2" id="Nokgir16" value="16" data-toggle="modal" data-target="#exampleModal">NOTOK</button>
                </div>
            </th>
        </tr>
        <tr style="background-color:lemonchiffon">
            <th>Teknik Şartnameye Uygunluk</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="TS_UYGUNLUK" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="TS_UYGUNLUK" value="17" id="Nokgir17" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <tr style="background-color:white">
            <th>Emboss-Deboss Kontrolü (Derinlik,Patlak,Ezik vb.)</th>
            <th>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default alert-success"><input type="radio" name="EMBOSS_DEBOSS_KONTROL2" value="OK">OK</label>
                    <label class="btn btn-default alert-danger"><input type="radio" name="EMBOSS_DEBOSS_KONTROL2" value="17" id="Nokgir18" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon"></span> NOT OK</label>
                </div>
            </th>
        </tr>
        <input class="form-control input-sm" id="ZAMANID" hidden="hidden" type="text" name="TARIH" size="20" value=@DateTime.Today>
        <input class="form-control input-sm" id="SAATID" hidden="hidden" type="text" name="TARIH" size="20" value=@DateTime.UtcNow>
    </table>
    <div>
        <button class="btn btn-success">Kaydet</button>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">NOK Nedeni</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        &nbsp;&nbsp;
                        <div>
                            <label for="ltxt1">SIPARIS NO</label>
                            <input class="form-control input-sm" id="MSIPARIS_NO" type="text" name="MSIPARIS_NO" size="20" value="">
                            <input class="form-control input-sm" id="HATAID" hidden="hidden" type="text" name="HATAID_NO" size="20" value="">
                        </div>
                        &nbsp;&nbsp;
                        <div>
                            <label for="txt2">BOBIN NO</label>
                            <input class="form-control input-sm" id="MBOBINNO" type="text" name="MBOBINNO" size="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Hata Nedeni:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="send">Send message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#send").click(function () {
            var HATAIDX = ""
            var MSIPNO = $("#MSIPARIS_NO").val();
            var MBOBINNO = $("#MBOBINNO").val();
            var MHATA = $("#message-text").val();
            var HATAIDX = $("#HATAID").val();
            if (HATAIDX == "1") { $("#Nokgir1").val(MHATA) }
            if (HATAIDX == "2") { $("#Nokgir2").val(MHATA) }
            if (HATAIDX == "3") { $("#Nokgir3").val(MHATA) }
            if (HATAIDX == "4") { $("#Nokgir4").val(MHATA) }
            if (HATAIDX == "5") { $("#Nokgir5").val(MHATA) }
            if (HATAIDX == "6") { $("#Nokgir6").val(MHATA) }
            if (HATAIDX == "7") { $("#Nokgir7").val(MHATA) }
            if (HATAIDX == "8") { $("#Nokgir8").val(MHATA) }
            if (HATAIDX == "9") { $("#Nokgir9").val(MHATA) }
            if (HATAIDX == "10") { $("#Nokgir10").val(MHATA) }
            if (HATAIDX == "11") { $("#Nokgir11").val(MHATA) }
            if (HATAIDX == "12") { $("#Nokgir12").val(MHATA) }
            if (HATAIDX == "13") { $("#Nokgir13").val(MHATA) }
            if (HATAIDX == "14") { $("#Nokgir14").val(MHATA) }
            if (HATAIDX == "15") { $("#Gtxt15").val(MHATA) }
            if (HATAIDX == "16") { $("#Gtxt16").val(MHATA) }
            if (HATAIDX == "17") { $("#Nokgir17").val(MHATA) }
            $.ajax({
                type: 'POST',
                url: '/OfsetBitirme/SendEmail/' + MSIPNO, MBOBINNO,
                data: {
                    "MSIPARIS_NO": MSIPNO, "MBOBINNO": MBOBINNO, "MHATA": MHATA
                },
                datatype: "Json",
                success: function (data) { }
            });
            alert("Mesajınız Gönderilmiştir...")
            $('#exampleModal').modal('hide');
        });
    });
</script>

<script type="text/javascript">
    $("#Nokgir1").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir1").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir2").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir2").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir3").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir3").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir4").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir4").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir5").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir5").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir6").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir6").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir7").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir7").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir8").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir8").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir9").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir9").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir10").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir10").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir11").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir11").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir12").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir12").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir13").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir13").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir14").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir14").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir15").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir15").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir16").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir16").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
<script type="text/javascript">
    $("#Nokgir17").click(function () {
        var SIP = $("#txt1").val();
        var BOB = $("#txt4").val();
        var HATID = $("#Nokgir17").val();
        $("#MSIPARIS_NO").val("");
        $("#MBOBINNO").val("");
        $("#HATAID").val("");
        $("#MSIPARIS_NO").val(SIP);
        $("#MBOBINNO").val(BOB);
        $("#HATAID").val(HATID);
    });
</script>
@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Sipbul").click(function () {
                var FISNO = $("#txt1").val();
                $.ajax({
                    type: 'POST',
                    url: '/OfsetBitirme/Sipbul/' + FISNO,
                    dataType: 'json',
                    data: { FISNO: $("#txt1").val() },
                    success: function (data) {
                        $("#skod_txt").val(data.STOK_KODU)
                        $("#sad_txt").val(data.STOK_ADI);
                    },
                    error: function (hata, ajaxOptions, thrownError) {
                        alert("Sipariş bulunamadı...");
                    }
                });
            });
        });
    </script>
}
