@model IEnumerable<Uretim_Kalite.Models.Entity.EGEM_GRAVUR_KALITE_SIPARIS>

@{
    ViewBag.Title = "Baskiekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("baskisipara", "EsnekBaski", FormMethod.Get))
{


    <div>
        <label for="txt1">SIPARIS NO</label>
        <input class="form-control input-sm" id="txt4" type="text" name="BOBIN_NO" size="10" value=@Html.TextBox("Ara") />
    </div>

    <button type="submit">Ara</button>

}

@foreach (var ogr in Model)
{

    <div class="form-group row">
        <div>
            <label for="txt1">SIPARIS NO</label>
            @*@Html.DropDownListFor(m=>m.FISNO,(List<SelectListItem>)ViewBag.dgr, new { @class="form-control"})*@
            <input class="form-control input-sm" type="text" name="BOBIN_ENI" value=@ogr.STOK_ADI size="20">
        </div>
        <div>
            <label for="txt3">URUN ADI</label>
            <input class="form-control input-sm" type="text" name="BOBIN_ENI" value=@ogr.STOK_KODU size="120">
        </div>



    </div>
}

<div class="form-group row">
    &nbsp;&nbsp;
    <div>
        <label for="drp1">MAKINE ADI</label>
        <fieldset>
            <select id="drp1" name="MAKINE" class="btn btn-default dropdown-toggle">
                <option value=""></option>
                <option selected="selected" value="1">ROTOMEC</option>
            </select>
        </fieldset>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div>
        <label for="txt4">BOBIN NO</label>
        <input class="form-control input-sm" id="txt4" type="text" name="BOBIN_NO" size="10" />
    </div>
</div>

<table class="table table-striped table-bordered dt-responsive nowrap" width="100" cellspacing="0">
    <tr style="background-color:lemonchiffon">
        <th>Hammadde Kontrolü (Teknik şartnameye uygunluk)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="HAMMADDE_KONTROL" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="HAMMADDE_KONTROL" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Görsel Kontrol</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="GORSEL_KONTROL" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="GORSEL_KONTROL" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Silindir Kod Kontrolü</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="SILINDIR_KOD_KONTROL" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="SILINDIR_KOD_KONTROL" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Bobin Eni (mm)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="BOBIN_ENI" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="BOBIN_ENI" value="NOK">

            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Fotosel Aralığı (mm)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="FOTOSEL_ARALIGI" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="FOTOSEL_ARALIGI" value="NOK">

            </div>
        </th>
    </tr>


    <tr style="background-color:white">
        <th>Net Baskı Eni (mm)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="NET_BASKI_ENI" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="NET_BASKI_ENI" value="NOK">

            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Baskı Yönü</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="BASKI_YONU" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="BASKI_YONU" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Barkod / QR Okunurluğu</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="secim2" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="secim2" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Açılış Yönü</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="BARKOD_OKUNUR" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="BARKOD_OKUNUR" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Arka Kapama Şekli</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="ARKA_KAPANMA_SEKLI" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="ARKA_KAPANMA_SEKLI" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>İçerik Kontrolü</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="ICERIK_KONTROL" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="ICERIK_KONTROL" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Gloss</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="GLOSS" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="GLOSS" value="NOK">

            </div>
        </th>
    </tr>


    <tr style="background-color:lemonchiffon">
        <th>Renk Uygunluğu (Spektro ile)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="RENK_UYGUN" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="RENK_UYGUN" value="NOK">

            </div>
        </th>
    </tr>


    <tr style="background-color:white">
        <th>Renk Uygunluğu (Göz ile))</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="RENK_UYGUN_GOZ" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="RENK_UYGUN_GOZ" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Baskı Kayıklığı</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="BASKI_KAYIK" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="BASKI_KAYIK" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Adezyon , Çitileme</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="ADEZYON" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="ADEZYON" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Kuruma</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="KURUMA" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="KURUMA" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>Tonlama</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="TONLAMA" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="TONLAMA" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Sakal</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="SAKAL" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="SAKAL" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>
    <tr style="background-color:white">
        <th>Çizgi</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="CIZGI" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="CIZGI" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>
    <tr style="background-color:lemonchiffon">
        <th>Isıl Yapışma (Laminasyonlu İşler için)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="ISIL_YAPISMA" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="ISIL_YAPISMA" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>
    <tr style="background-color:white">
        <th>Mürekkep  - Lak Miktarı (g/m2)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="MUREKKEP_MIKTAR" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="MUREKKEP_MIKTAR" value="NOK">

            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Birim Ağırlık (g/m2)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="BIRIM_AGIRLIK" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="BIRIM_AGIRLIK" value="NOK">

            </div>
        </th>
    </tr>

    <tr style="background-color:white">
        <th>COF (Tek Katlı Malzeme için)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="COF" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="COF" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>
    <tr style="background-color:lemonchiffon">
        <th>GC Testi (Solvent Kalıtısı)</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="GC_TEST" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="GC_TEST" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>
    <tr style="background-color:white">
        <th>Bobin İçi Bayrak Sayısı</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default alert-success"><input type="radio" name="BOBIN_ICBAYRAK_SAYI" value="OK">OK</label>
                <label class="btn btn-default alert-danger"><input type="radio" name="BOBIN_ICBAYRAK_SAYI" value="NOK"><span class="glyphicon"></span> NOT OK</label>
            </div>
        </th>
    </tr>

    <tr style="background-color:lemonchiffon">
        <th>Karton / Film Tipi</th>
        <th>
            <div class="btn-group" data-toggle="buttons">
                <input class="form-control input-sm" type="text" name="FILM_TIPI" value="">
                &nbsp;&nbsp;
                <input type="button" class="btn btn-danger" name="FILM_TIPI" value="NOK">

            </div>
        </th>
    </tr>
</table>




<div>
    <button class="btn btn-success">Kaydet</button>

</div>


    </form>

